body{text-align: center;background: #e8ffc2}
.container{width: 1000px; height: auto;margin:0 auto;}
.ItemChange{padding-bottom: 50px; text-align: left; padding-left: 40%}
.float_box{float: left;}
.ShowCharts:after{content:'';display: block;width: 100%;height: 0;clear: both;}
.SelectDate{text-align: left;padding-left: 30%; padding-top: 3%}